body {
    font-family: 'Poppins', sans-serif;
}


.overlay::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.61);
}

.banner-text {
    color: white;
    z-index: 1;
}

.courses-text {
    margin-left: 20px;
}

.ficon {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(54, 53, 53);
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.ficon:hover {
    color: white;
}

.seems {
    text-align: center;
    width: 40px !important;
    height: 40px !important;
}

.btn-al {
    position: relative;
    margin-top: -150px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 170px;
}

.over-pro {
    padding: 10px 0;


}